<div class="container">

  <!-- START EXPENSE'S SUMMARY -->
  <div class="row">
    <div class="total-box col-md-3">
      <%= number_to_currency(Expense.where(date: Date.today).sum(:amount))  %>
      <span>TODAY</span>
    </div>
    <div class="total-box col-md-3">
      <%= number_to_currency(Expense.where( date: Date.today.prev_day).sum(:amount)) %>
      <span>YESTERDAY</span>
    </div>
    <div class="total-box col-md-3">
      <%= number_to_currency(Expense.where("date >= :start_date AND date <= :end_date", 
                            { 
                              start_date: Date.current.beginning_of_month, 
                              end_date: Date.current.end_of_month 
                            }).sum(:amount)) %>
      <span>THIS MONTH</span>
    </div>
    <div class="total-box col-md-3">
      <%= number_to_currency(Expense.where("date >= :start_date AND date <= :end_date", 
                            { 
                              start_date: Date.current.prev_month.beginning_of_month, 
                              end_date: Date.current.prev_month.end_of_month 
                            }).sum(:amount)) %>
      <span>LAST MONTH</span>
    </div>
  </div>
  <!-- END EXPENSE'S SUMMARY -->

  <!-- START GRAPHICS CONTAINER -->
  <div class="row" style="margin-top: 40px;">

    <!-- START GRAPHIC'S CONTAINER OF LAST SIX MONTHS -->
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Last 6 months</div>
        <div class="panel-body">
          <div id="expenses-chart" style="height: 300px;">
            <%= column_chart @column_data, 
                            stacked: true, 
                            prefix: "$" , 
                            thousands: ",", 
                            colors: ["#ffe2bc", "#ffb367", "#ffe277", "#58b4ae"] 
                            %>
          </div>
        </div>
      </div>
    </div>
    <!-- END GRAPHIC'S CONTAINER OF LAST SIX MONTHS -->

    <!-- START GRAPHIC'S CONTAINER FOR DAY -->
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By day</div>
        <div class="panel-body">
          <div id="daily-expenses-chart" style="height: 300px;">
            <%= column_chart @day_data,
                             stacked: true, 
                             prefix: "$", 
                             thousands: ",",
                             colors: ["#ffe2bc", "#ffb367", "#ffe277", "#58b4ae"] 
                             %>
          </div>
        </div>
      </div>
    </div>
    <!-- END GRAPHIC'S CONTAINER FOR DAY -->

  </div>
  <!-- END GRAPHICS CONTAINER -->

  <!-- START GRAPHICS CONTAINER -->
  <div class="row" style="margin-top: 10px;">

    <!-- START GRAPHIC'S CONTAINER FOR CATEGORIE -->
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By category</div>
        <div class="panel-body">
          <div id="category-chart" style="height: 300px;">
            <%= pie_chart @category_data,
                          prefix: "$", 
                          thousands: ",",
                          colors: 
                            @category_colors.each do | value |
                              value
                            end
                          %>
          </div>
        </div>
      </div>
    </div>
    <!-- END GRAPHIC'S CONTAINER FOR CATEGORIE -->

    <!-- START GRAPHIC'S CONTAINER FOR ACCUMULATED -->
    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Accumulated</div>
        <div class="panel-body">
          <div id="month-acc" style="height: 300px;">
            <%= bar_chart @acumulated_data, 
                          prefix: "$" , 
                          thousands: ",",
                          colors: ["#f7dc6f"] 
                          %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END GRAPHIC'S CONTAINER FOR ACCUMULATED -->
</div>
<!-- END GRAPHICS CONTAINER -->
