<!-- Template to create or update item - It has its helper in helpers -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title" id="exampleModalLabel">Expense</h5>
</div>

<%= form_for @expense, remote: true do |f| %>
  <div class="modal-body">
    
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :type %></br>
        <%= f.select(:type, options_for_select(@types.each { | type |
                                                  [
                                                    ["#{ type }", "#{ type }"]
                                                  ]
                                                }, @expense.type),
                                                {}, 
                                                { class: "form-control" }) %>
      </div>
      <div class="form-group col-md-8">
        <%= f.label :date %>
        <%= f.date_field :date , class: "form-control", id: :date %>
      </>
    </div>

    <div class="form-group col-md-12">
      <%= f.label :concept %>
      <%= f.text_field :concept, class: "form-control", id: :concept %>
    </div>

    <div class="row row-category">
      <div class="form-group col-md-4">
        <%= f.label :category %>
        <%= f.select(:category, options_for_select(@categories.each { |category| 
                                                    [
                                                      ["#{category}", "#{category}"], 
                                                    ]
                                                    }, @expense.category),
                                                    {}, 
                                                    { class: "form-control" }) %>
      </div>
      <div class="form-group col-md-8">
        <%= f.label :amount %>
        <%= f.number_field :amount, class: "form-control", id: :amount %>
      </div>
    </div>

  </div>

<div class="modal-footer">
  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
  <%= f.submit form_title, class: "btn btn-info" %>
</div>
<% end %>