<tr id="<%= expense.id %>">
  <td class="date">
    <div class="day">
      <%= expense.date.day %>
    </div>
    <div class="month">
      <%= Date::ABBR_MONTHNAMES[expense.date.month] %>
    </div>
  </td>
  <td>
    <div>
      <span class="type">
        <%= expense.type %>
      </span>
    </div>
    <div>
      <span class="concept">
        <%= expense.concept %>
      </span>
    </div>
  </td>
  <td class="category text-right">
    <%= expense.category %>
  </td>
  <td class="text-right" style="width: 170px;">
    <div class="amount">
      <%= number_to_currency(expense.amount) %>
    </div>
    <div class="actions">
      <%= link_to expense_path(expense), remote: true do %>
        <%= content_tag( :span, '', class: 'glyphicon glyphicon-edit') %>
        Edit
      <% end %>
      <%= link_to expense_path(expense), remote: true, method: :delete, data: { confirm: "Are you sure you want to delete" } do %>
        <%= content_tag( :span, '', class: 'glyphicon glyphicon-trash') %>
        Delete
      <% end %>
    </div>
  </td>
</tr>