<div class="container">

  <div class="row">
    <!-- START FILTER'S ASIDE -->
    <div class="col-md-3">
      <!-- START PURCHASE & WITHDRAWAL FILTER-->
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <% @types.each do | key, value | %>
          <%= link_to "#{value}", filter_path(type: value, date: Date.current), remote: true , class: "list-group-item", id: value  %>
        <% end %>
        <!-- MORE TRANSACTION TYPES -->
      </div>
      <!-- END PURCHASE & WITHDRAWAL FILTER-->

      <!-- START CATEGORIES FILTER-->
      <h4 class="filter-header">Categories <span>Choose to filter</span></h4>
      <div class="list-group filter-categories">
        <% @categories.each do | key, value | %>
          <%= link_to "#{value}", filter_path(category: value, date: Date.current), remote: true, class: "list-group-item", id: value %>
        <% end %>
        <!-- MORE CATEGORIES  -->
      </div>
      <!-- END CATEGORIES FILTER-->

    </div>
    <!-- END FILTER'S ASIDE -->

    <!-- START MAIN CONTENT -->
    <div class="col-md-9 index-data">

      <!-- START FILTER'S SUMMARY -->
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value" id="total">
          <%= number_to_currency(@expenses.all.sum(:amount)) %>
          </div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value" id="transactions"><%= @expenses.count %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value" id="average"><%= number_to_currency( @expenses.sum(:amount) / @expenses.count ) %></div>
          <div class="summary-label">Average</div>
        </div>
      </div>
      <!-- END FILTER'S SUMMARY -->

      <!-- START NEW EXPENSE && DROPDOWN MONTHS -->
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <!-- START MODAL -->
          <%= link_to new_expense_path, { remote: true, class: "btn btn-success pull-left" }, data: { toggle: 'modal', target: '#modal-articles' } do %>
            <%= content_tag( :span, '', class: 'glyphicon glyphicon-plus') %>
            New expense
          <% end %>
          
          <div class="modal fade" id="modal-articles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document" >
              <div class="modal-content" >

              </div>
            </div>
          </div>

          <!-- END MODAL -->
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown" name="<%= Date::MONTHNAMES[Date.current.month] %> <%= Date.current.year %>" id="active"><%= Date::ABBR_MONTHNAMES[Date.current.month] %> <%= Date.current.year %><span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" id="menu">
              <% ( (Date.today - 365).beginning_of_month..(Date.today).beginning_of_month ).each do | time | %>
                <% if time.day == 1 %>
                <li role="presentation">
                  <%= link_to "#{ Date::MONTHNAMES[time.month] } #{ time.year }", filter_path(date: time), remote: true, id: "#{ Date::MONTHNAMES[time.month] }_#{ time.year}", name: time %>
                </li>
                <% end %>
              <% end %>
            </ul>
          </h4>
        </div>
      </div>
      <!-- END NEW EXPENSE && DROPDOWN MONTHS -->

      <!-- START SHOW DATA FILTER -->
      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Day</th>
            <th>Concept</th>
            <th class="text-right">Category</th>
            <th class="text-right">Value</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <%= render "row", expense: expense %>
          <% end %>
        </tbody>
      </table>
      <!-- START SHOW DATA FILTER -->

    </div>
    <!-- END MAIN CONTENT -->
    
  </div>
</div>

<%= javascript_pack_tag 'index' %>
